.nav-link, .nav-link:hover {
  color: #6C5CE7;
}

.nav-link.active, .nav-link.active:hover {
  color: ghostwhite;
  background-color: #FFCF43;
}

.nav-link:hover {
  background-color: whitesmoke;
}

.nav {
  background-color: ghostwhite;
}

.list-group-item.active {
  background-color: #6C5CE7;
}

#meetup-list, #calendar, .form {
  width: auto; /* Set the width of the div */
  height: 73vh; /* Set the fixed height of the div
  overflow-y: auto; /* Add vertical scrolling if content overflows */
  overflow-x: hidden; /* Hide horizontal scrolling */
  border: 1px solid #ccc; /* Add a border for visual clarity */
  padding: 10px; /* Add some padding for better readability */
}

.meetup-item {
  width: auto;
  border: 1px solid #ddd;
  padding: 10px;
  list-style-type: none;
  /* border-bottom: 2px;
  border-bottom-color: whitesmoke; */
  font-family: "Roboto Slab", serif;
}

.sort {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

#calendar1 {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-body-bg);
  color: #6C5CE7;
}

.map {
  border: 0;
  height: auto;
  width: auto;
}

.hidden {
  display: none;
}

.meetup-item1 {
  width: auto;
  border: 1px solid #ccc;
}

#calendar {
  width: 148vh;
}

body {
  /* background-image: url("../images/vinyl.jpg");
  background-size: cover; */
}
